/* Common Css Start */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
/* .form-control:focus{
    outline: 0;
    box-shadow: none ;
  } */
body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  background-color: gainsboro;
}
/* h1,
  h2 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
  } */
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
a,
button {
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
span,
small {
  margin: 0;
  padding: 0;
}
/* ol,
  ul {
    list-style-type: none;
  } */
a,
a:hover {
  text-decoration: none;
}
/* //Common Css End */

h1 {
  text-align: center;
  font-size: 150px;
  font-family: "Anton", sans-serif;
  background-image: url(https://i.pinimg.com/originals/6d/5f/9a/6d5f9acbf4be66b1a51a9ce7825682e6.gif);
  background-clip: text;
  background-size: cover;
  color: transparent;
  font-weight: 800;
}

.product_card1 {
  background-color: white;
  padding: 10px 15px;
  width: 300px;
  margin: 10px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img1 {
  text-align: center;
}
h3 a {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: black;
  padding-left: 10px;
  transition: 0.6s;
}
h3 a:hover {
  text-decoration: underline;
  color: #ef4a23;
}

.p1 {
  background: green;
  text-align: center;
}
.ul1 {
  padding: 10px;
  color: #666666;
  padding-left: 20px;
  font-size: 13px;
  line-height: 16px;
  border-bottom: 2px solid gray;
}

.taka1 {
  padding: 15px;
  font-size: 17px;
  font-weight: 800;
  line-height: 22px;
  color: #ef4a23;
  text-align: center;
}
.product_button {
  text-align: center;
}

.button_1 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px 66px;
  color: #3749bb;
  border-radius: 10px;
  border: none;
  transition: 0.8s;
}
.button_1:hover {
  background-color: #3749bb;
  color: white;
  border-radius: 80px;
}
.button_2 {
  width: 100%;
  color: #666666;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 57px;
  border: none;
  transition: 0.8s;
}
.button_2:hover {
  background-color: #3749bb;
  color: white;
  border-radius: 80px;
}
